/* #cc5de8 */
/* #f3d9fa */
/* #f8f0fc */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #555;
}

/* ************************* */
/* GENARAL REUSEABLE STYLES */
/* ************************* */
.grid {
  display: grid;
  gap: 9.6rem;
  justify-items: center;
  align-items: center;
}

.grid-col-1 {
  grid-template-columns: 1fr;
}

.grid-col-2 {
  grid-template-columns: repeat(2, 1fr);
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.heading-primary {
  font-size: 6.2rem;
  letter-spacing: -0.5px;
  font-weight: 700;
  padding: 2rem 0;
}

.heading-secondary {
  font-size: 3.2rem;
  padding: 0.5rem 0;
}

.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.6rem;
  color: #fff;
  background-color: #cc5de8;
  padding: 1.6rem 3.2rem;
  border-radius: 1.2rem;
  font-size: 2rem;
  transition: all 0.3s ease-in-out;
  margin: 3rem 0;
}

.btn:hover,
.btn:active {
  box-shadow: inset 0 0 0 3px #cc5de8;
  color: #cc5de8;
  background-color: transparent;
}
.hero-img {
  width: 100%;
  display: none;
}

/* ************************* */
/* HEADER SECTION STYLES */
/* ************************* */

.header {
  position: fixed;
  width: 100%;
  height: 6rem;
  background-color: #f8f9fa;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.logo {
  color: #cc5de8;
  font-size: 2.6rem;
  font-weight: 900;
  text-transform: uppercase;
}
/* ************************* */
/* NAVIGATION STYLES */
/* ************************* */
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 3.2rem;
}

.nav-link:visited,
.nav-link:link {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  padding: 1.6rem 3.2rem;
  color: #555;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.nav-link:active,
.nav-link:hover {
  color: #cc5de8;
}

.cta:visited,
.cta:link {
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  background-color: #cc5de8;
  color: #fff;
}

.cta:hover,
.cta:active {
  box-shadow: inset 0 0 0 2px #cc5de8;
  color: #cc5de8;
  background-color: transparent;
}

/* ************************* */
/* HERO SECTION STYLES */
/* ************************* */
.section-hero {
  background-color: #f8f0fc;
  min-height: 100vh;
  padding: 9.6rem 0;
  background-image: url("https://images.unsplash.com/photo-1518655048521-f130df041f66?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
}

.hero {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 9.6rem;
}

.developer {
  color: #862e9c;
}

.heading-hero {
  color: #333;
}
.hero-desc {
  font-size: 2rem;
  line-height: 1.5;
  padding: 2rem 0;
}

.btn-container {
  display: flex;
  gap: 1rem;
}

/* ************************* */
/* SKILLS SECTION STYLES */
/* ************************* */

.section-skills {
  background-color: #862e9c;
  padding: 9.6rem 0;
  margin: 0 auto;
  min-height: 100vh;
}

.heading-skills {
  padding-bottom: 9.6rem;
  color: #f3d9fa;
}
.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.skills .container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 8rem;
}

.skills .container img {
  padding: 2rem;
  background-color: #f3d9fa;
  border-radius: 50%;
  box-shadow: 0 .3rem .3rem 0rem #333;
  transition: all .2s linear;
}

.skills .container img:hover{
  transform: scale(1.09);
}

/* ************************* */
/* PROJECTS SECTION STYLES */
/* ************************* */

.section-projects {
  padding: 9.6rem 0;
  min-height: 100vh;
  background-color: #faeffd;
}

.heading-projects {
  /* color: #7a388b; */
}
.project {
  position: relative;
  max-width: 1000rem;
  padding: 1rem 6rem;
  margin: 0 auto;

  background: rgb(204, 93, 232, .8);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.right {
  text-align: right;
}

.project-title {
  font-size: 4.8rem;
  margin: 3.2rem 0;
  padding-bottom: 2rem;
  letter-spacing: -1.5px;
  color: #fff;
  border-bottom: 2px solid #f3d9fa;
}

.project-desc {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #faeffd;
}

.btn-project:visited,
.btn-project:link {
  background-color: #fff;
  color: #662f74cc;
  font-weight: 600;
}

.btn-project:active,
.btn-project:hover {
  color: #fff;
  background-color: #2a132f;
  box-shadow: 2rem 0 0 0.3rem #faeffd;
  transform: translateX(-1rem);
}

.btn-left:hover {
  transform: translateX(1rem);
}
.project img {
  height: 30rem;
  border-radius: 1.5rem;
  box-shadow: 0px 0.3rem 1rem 0.2rem #3d1c46;
  transition: all 0.3s ease-in-out;
}

.project img:hover {
  transform: translateY(-1rem);
}

.btn-more:visited,
.btn-more:link {
  background-color: #7a388b;
  color: #e9ecef;
  font-weight: 600;
}

.btn-more:active,
.btn-more:hover {
  transform: scale(1.05);
  box-shadow: 0 1rem 0.7rem #ced4da;
  background-color: #52255d;
  color: #fff;
}

/* ************************* */
/* CONTACT SECTION STYLES */
/* ************************* */

.section-contact {
  min-height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1620641788421-7a1c342ea42e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
}

.heading-contact {
  color: #e9ecef;
}
.contact {
  padding: 9.6rem 0;
}

.form-container {
  min-height: 80vh;
  width: 100%;

  align-content: stretch;
  justify-content: stretch;
  align-items: center;
  justify-items: center;
  gap: 0;
}

.img-container {
  width: 100%;
  height: 100%;
  background-image: url("https://images.pexels.com/photos/196656/pexels-photo-196656.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
}


.contact-form {
  background: rgb(204, 93, 232);
  background: linear-gradient(
    0deg,
    rgba(204, 93, 232, 1) 0%,
    rgba(122, 56, 139, 1) 80%
  );
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-form form {
  width: 100%;
  padding: 4rem;
  box-shadow: -1rem 0rem 1rem 0rem #333;
}

.lbl {
  display: inline-block;
  color: #e9ecef;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.inputs {
  display: inline-block;
  width: 100%;
  margin-bottom: 2rem;
  height: 4rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  padding-left: 2rem;
  font-size: 1.8rem;
}

.txt-area {
  height: 100%;
  padding: 2rem;
  font-family: "Roboto", sans-serif;
}

.btn-form-sub {
  width: 25%;
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 600;
  padding: 1rem 2rem;
  border: none;
  border-radius: 1rem;
  background-color: #e9ecef;
  box-shadow: 1rem 0 0 0rem #862e9c;
  color: #862e9c;
  transition: all .3s ease-in-out;
}

.btn-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.btn-form-sub:hover{
  background-color: #3d1c46;
  box-shadow: 1.5rem 0 0 .4rem #f3d9fa;
  color: #e9ecef;
  
}

.social-btns{
  display: flex;
  gap: 1rem;
}
.social-btns a img {
  width: 4.8rem;
}